@use '../../styles/varScss' as *;

.contact {
  background-color: $color-background;  // fondo oscuro general
  color: $color-text-light;
  padding: 3rem 1rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-main;

  h2 {
    color: $color-primary;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  &__form {
    background-color: $color-card;       // blanco para formulario
    color: $color-card-text;              // texto oscuro dentro formulario
    padding: 2rem;
    border-radius: 8px;
    box-shadow: $shadow-light;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      font-weight: 600;
      margin-bottom: 0.3rem;
    }

    input, textarea {
      padding: 0.7rem;
      border: 1px solid $color-text-secondary;
      border-radius: 5px;
      font-size: 1rem;
      font-family: $font-main;
      resize: vertical;
      color: $color-card-text;
      background-color: $color-card;
    }

    button {
      margin-top: 1rem;
      padding: 0.8rem;
      background-color: $color-primary;
      border: none;
      border-radius: 30px;
      color: $color-text-light;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
      box-shadow: $shadow-light;

      &:hover {
        background-color: $color-primary-hover;
        box-shadow: $shadow-hover;
      }
    }
  }
}
